<%= form_for(@meal_plan) do |f| %>
  <% if @meal_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meal_plan.errors.count, "error") %> prohibited this meal_plan from being saved:</h2>

      <ul>
      <% @meal_plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :total_days %><br />
    <%= f.number_field :total_days %>
  </div>
  <div class="field">
    <%= f.label :total_calories %><br />
    <%= f.number_field :total_calories %>
  </div>
  <div class="field">
    <%= f.label :total_people %><br />
    <%= f.number_field :total_people %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
