<% provide(:title, "Calorie Calculator") %>
<% provide(:desc, "Calculate the calories you'll need for days in the outdoors") %>

<div class="span8">
  <h1 class="h-margin">Calorie Calculator</h1>
  
  <div class="well">
    <p class="well-explain">Find out how many calories you'll need to bring along for your next outdoor adventure.</p>
  </div>
  
  <div class="row">
    <div class="span8">
      <%= form_tag results_path, :method => 'get' do %>
        
        <h3 class="h-margin">People Going Camping</h3>
        <%= render 'person_fields' %>
        <p class="add-btn-calc"><%= link_to_add "Add Person", :persons %></p>
        
        <br />
        
        <h3 class="h-margin">Days Spent Camping</h3>
        <ul class="days-explain">
          <li><b>Rest Day</b> - Doing as little as possible</li>
          <li><b>Light Day</b> - Playing cards, fishing, a bit of walking</li>
          <li><b>Moderate Day</b> - Light hiking with a light backpack</li>
          <li><b>Heavy Day</b> - Backpacking for the day with a fully loaded backpack</li>
        </ul>
        <%= render 'day_fields' %>
        <p class="add-btn-calc"><%= link_to_add "Add Day", :days %></p>
        
        <br />

        <%= submit_tag "Calculate", :name => nil, class: 'btn btn-warning bolded' %>
      <% end %>
    </div>
  </div>
</div>

<div class="span4">
  <%= render 'shared/sidebar' %>
</div>
