<% provide(:title, "home") %>
<% provide(:desc, "") %>

<div class="span12">
  <div class="row">
    <div class="span8">
    <h3 class="h-margin">Latest Recipes</h3>
      <% @recipes.each do |recipe| %>
        <div class="row">
          <div class="span8">

            <h3 class="h-margin-top">
              <%= link_to recipe.title, recipe_path(recipe), class: 'home-recipe-title' %>
            </h3>

            <p class="frontpage-desc">
              <%= truncate(recipe.introduction, :length => 180, :omission => '...') %>
            </p>

            <%= link_to "Read More...", recipe_path(recipe), class: 'home-read-more' %>

            <div class="home-recipe-meta">
              <div class="inline">
                <div class="pretty-pic">
                  <%= link_to image_tag("#{avatar_url(recipe.user)}?s=35"), user_path(recipe.user) %>
                </div>
              </div>

              <div class="inline home-border">
                <% if can? :update, recipe %>
                  <%= link_to "<i class=\"icon-star username-star\"></i>#{recipe.user.username}".html_safe, user_path(recipe.user_id), class: "pretty-username" %>
                <% else %>
                  <%= link_to recipe.user.username, user_path(recipe.user_id), class: "pretty-username" %>
                <% end %>
              </div>

              <div class="inline home-border">
                <i class="icon-calendar"></i>
                <%= content_tag :p, pretty_date(recipe.created_at), class: "pretty-date inline" %>
              </div>

              <i class="icon-tags inline"></i>
              <%= recipe.categories.first(5).map { |c|
                "<a href=\"#{category_index_path(c.name.parameterize)}\" class=\"inline\">#{c.name}</a>"
               }.join(', ').html_safe %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="span4">
      <%= render 'shared/sidebar' %>
    </div>
  </div>
</div>
